
$font-family:                 -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif !default;
$font-family--headings:       $font-family !default;

$font-size--h4:               1.25em !default;

$line-height:                 1.375em !default;

$screen-lg:                   992px !default;

$opacity:                     0.7 !default;
$transition-time:             0.3s !default;

$z-index-modal:               100 !default;

.js-modal-open {
  overflow: hidden;
}

.modal {

  $block-name:                &; // #{$block-name}__element

  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 0 !important;

  z-index: $z-index-modal;
  -webkit-overflow-scrolling: touch;

  .js-modal-open & {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 0 !important;
  }

  &__dialog {
    position: relative;
    margin: auto;
    width: calc(100% - 40px);
    max-height: calc(100% - 40px);
    max-width: 375px;
    //background: red;
    box-shadow: $shadow;
    // border-radius: $border-radius;
    overflow-x: hidden;
    overflow-y: auto;
    // overflow: hidden;

    @media (min-width: $screen-md) {
      max-width: none;
      width: 600px;
      height: auto;

      #{$block-name}--open & {
        animation: modal-content-show $transition-time 1 both;
      }
    }

    @media (min-width: $screen-xl) {
      width: 995px;
      max-width: none;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    outline: 0;
  }

  &__header {
    padding: 5px 40px 0 10px;
    flex-shrink: 0;
  }

  &__title {
    margin-top: ($line-height / 2);
    margin-bottom: ($line-height / 2);
    font-size: $font-size--h4;
    line-height: 1.4;
    font-weight: 700;
    color: currentColor;
  }

  &__close {
    position: absolute !important; // stylelint-disable-line  declaration-no-important
    top: 5px;
    right: 5px;
  }

  &__body {
    padding: 0 20px 20px 20px;
    flex-grow: 1;
  }

  &__footer {
    padding: 10px;
    flex-shrink: 0;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: ($z-index-modal - 1);
    background-color: rgba(0, 0, 0, $opacity);

    @media (min-width: $screen-lg) {
      animation: modal-backdrop-show $transition-time 1;
    }
  }

  &--open {

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}



@keyframes modal-backdrop-show {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-content-show {

  0% {
    opacity: 0;
    transform: translateY(-2em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
