// Этот блок ответственен ТОЛЬКО за типографику проекта.

/* open-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v15-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v12-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v12-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('../fonts/montserrat-v12-cyrillic_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v12-cyrillic_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v12-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v12-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



body {
  // ТОЛЬКО типографика!
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}

// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 700;
  line-height: $line-height;
  color: $title-color;
}

// .h1,
// .h2,
// .h3,
h1,
h2,
h3 {
  margin-top: $line-height;
  margin-bottom: ($line-height / 2);
}

// .h4,
// .h5,
// .h6,
h4,
h5,
h6 {
  margin-top: ($line-height / 2);
  margin-bottom: ($line-height / 2);
}

// .h1,
/* h1 {
  font-size: $font-size--h1;
}

// .h2,
h2 {
  font-size: $font-size--h2;
}

// .h3,
h3 {
  font-size: $font-size--h3;
}

// .h4,
h4 {
  font-size: $font-size--h4;
}

// .h5,
h5 {
  font-size: $font-size--h5;
}

// .h6,
h6 {
  font-size: $font-size--h6;
} */

// .p,
p,
ul,
ol,
dl,
blockquote,
pre,
address,
figure {
  margin-top: ($line-height / 2);
  margin-bottom: ($line-height / 2);
  color: currentColor;
}

address {
  font-style: normal;
}

ul,
ol {
  padding-left: 1.2em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: inherit;
}

hr {
  margin-top: $line-height;
  margin-bottom: $line-height;
  border: 0;
  border-top: 1px solid $border-color;
}

// .small,
small {
  // font-size: $font-size--small;
}

sub,
sup {
  font-size: 70%;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  text-decoration: underline dotted;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
