.shop {
  margin-bottom: 50px;

  @media (min-width: $screen-xl) {
    margin-bottom: 100px;
  }

  $block-name:                &; // #{$block-name}__element

  &__row {
    margin-left: -20px;
    margin-right: -20px;

    @media (min-width: $screen-md) {
      margin-left: 0;
      margin-right: 0;
    }

    @media (min-width: $screen-xl) {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  &__col {
    @include col(xl, 3);
  }
}
