.manual {
  margin-bottom: 60px;

  @media (min-width: $screen-xl) {
    margin-bottom: 100px;
  }

  $block-name:                &; // #{$block-name}__element

  &__step {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(even) {

      p {
        padding-left: 50px;

        @media (min-width: $screen-md) {
          padding-left: 0;
        }
      }

      @media (min-width: $screen-md) {
        padding-left: 60px;
      }

      @media (min-width: $screen-xl) {
        padding-left: 405px;
      }
    }

    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 45px;
    }
  }

  &__img-outline {
    float: left;
    width: 105px;
    height: 105px;
    margin-bottom: 25px;
    margin-right: 45px;
    @include left-shadow;
    box-shadow: 15px 20px 25px rgba(0, 0, 0, 0.15);

    &::after {
      left: 15px;

      @media (min-width: $screen-md) {
        left: 15px;
      }

      @media (min-width: $screen-xl) {
        left: 20px;
      }
    }

    @media (min-width: $screen-md) {
      flex-shrink: 0;
      width: 215px;
      height: 215px;
      margin-right: 80px;
      box-shadow: 15px 20px 25px rgba(0, 0, 0, 0.15);
    }

    @media (min-width: $screen-xl) {
      width: 285px;
      height: 285px;
      margin-right: 120px;
      box-shadow: 15px 20px 25px rgba(0, 0, 0, 0.15);
    }
  }

  &__img-wrapper {
    overflow: hidden;
    border-radius: 20px;
  }

  &__img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &__text-wrapper {
    flex-shrink: 1;
    flex-grow: 0;
  }

  &__step-title {
    margin-top: 0;
    font-weight: 700;

    span {
      display: block;
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: inherit;
      color: $main-color;

      @media (min-width: $screen-md) {
        margin-bottom: 20px;
      }
    }

    @media (min-width: $screen-md) {
      margin-bottom: 20px;
    }
  }
}
