.logo {
  display: block;
  width: 280px;
  white-space: nowrap;

  @media (min-width: $screen-xl) {
    width: 345px;
  }

  $block-name:                &; // #{$block-name}__element

  img {
    width: 100%;
  }
}
