.helpful-info {
  margin-bottom: 50px;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $screen-md) {
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $screen-xl) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 100px;
  }



  $block-name:                &; // #{$block-name}__element

  &__wrapper {
    align-items: stretch;
    height: auto !important;
    margin-bottom: 40px;

    @media (min-width: $screen-xl) {
      margin-bottom: 55px;
    }
  }

  &__title {
    padding-left: 25px;
    padding-right: 25px;

    @media (min-width: $screen-md) {
      padding: 0;
      // transform: translateX(-40px);
    }

    @media (min-width: $screen-xl) {
      //transform: translateX(-80px);
    }
  }

  &__slides {
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $screen-md) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__slide {
    position: relative;
    margin-bottom: 40px;
    @include col(xs, 12);
    @include col(md, 4);

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $screen-md) {
      width: 100%;
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    height: 100%;
    text-decoration: none;
    text-align: center;
    background: $white;
    border-radius: $border-radius * 2;
    box-shadow: 5px 30px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: $transition-base;

    &:hover {
      box-shadow: 5px 30px 15px rgba(0, 0, 0, 0.25);
    }

    @media (min-width: $screen-md) {
      text-align: left;
    }
  }

  &__img-wrapper {
    width: 100%;
    //height: 150px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__descr {
    box-sizing: border-box;

    margin: 0;
    padding-top: 15px;
    padding-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;

    @media (min-width: $screen-md) {
      padding: 20px;
    }

    @media (min-width: $screen-xl) {
      padding: 30px;
    }
  }

  &__btn-wrapper {

    @media (min-width: $screen-md) {
      margin-left: 0;
      text-align: center;
    }

    @media (min-width: $screen-xl) {
      margin-left: 0;
    }
  }
}
