.shop-card {
  padding-top: 20px;
  margin-bottom: 40px;
  background: $white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: $border-radius;

  &:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  }

  @media (min-width: $screen-md) {
    display: flex;
    flex-wrap: wrap;

    & > * {
      flex-basis: 100%;
    }
  }

  @media (min-width: $screen-xl) {
    height: 100%;
    margin-bottom: 0;
    align-content: space-between;
  }

  $block-name:                &; // #{$block-name}__element

  &__img-wrapper {
    position: relative;
    display: flex;
    width: 190px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    overflow: hidden;

    @include col(md, 5);
    @include col(xl, 12);

    @media (min-width: $screen-md) {
      width: 275px;
      height: 275px;
    }

    @media (min-width: $screen-xl) {
      width: 100%;
      height: 285px;
    }
  }

  &__add-wrapper {
    //display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: scale(1.5);
    opacity: 0;
    // transition: $transition;
    transition: all 0.2s ease-in-out;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__text-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    text-align: center;

    @include col(md, 7);
    @include col(xl, 12);

    @media (min-width: $screen-md) {
      padding-right: 25px;
      text-align: left;
    }

    @media (min-width: $screen-xl) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: calc(100% - 285px - 123px - 20px - 20px);
      padding-right: 10px;
      text-align: center;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
    //text-align: center;

    span {
      display: block;
      margin-top: 5px;
      font-size: 20px;
      font-weight: 700;
      color: $main-color;
    }
  }

  &__price {
    font-size: 20px;
    font-weight: 600;
    //text-align: center;
    color: $main-color;

    @media (min-width: $screen-xl) {
      margin-top: auto;
      font-size: 24px;
    }
  }

  &__price-num {

  }

  &__features-list {
    margin-bottom: 20px;
    font-family: $font-family--headings;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: normal;
    //text-align: center;

    @media (min-width: $screen-xl) {
      font-size: 15px;
    }
  }

  &__features-item {

    &::before {
      display: none;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;

    .btn {
      flex-grow: 1;
      display: block;
      font-size: 16px;
      padding-left: 35px;
      padding-right: 35px;

      &--info {
        background-color: $second-color;
        border-radius: 0 0 10px 0;

        &:hover,
        &:active {
          background-color: $main-color;

          @media (min-width: $screen-xl) {
            color: $white;
            background-color: $second-color;
          }
        }

        @media (min-width: $screen-xl) {
          color: $second-color;
          background-color: $white;
          border-radius: 0;
          border-top: 1px solid $border-color;
        }
      }

      &--buy {
        border-radius: 0 0 0 10px;

        &:hover,
        &:active {

          @media (min-width: $screen-xl) {
            color: $white;
            background-color: $main-color;
          }
        }

        @media (min-width: $screen-xl) {
          order: 1;
          color: $main-color;
          background-color: $white;
          border-radius: 0 0 10px 10px;
        }
      }

      @media (min-width: $screen-xl) {
        font-size: 22px;
        padding-top: 19px;
        padding-bottom: 20px;
      }
    }

    @media (min-width: $screen-md) {
      width: 100%;
    }

    @media (min-width: $screen-xl) {
      flex-direction: column;
    }
  }
}

.shop-card__img-wrapper:hover .shop-card__add-wrapper {
  transform: scale(1);
  opacity: 1;
  //transition: all 0.5s ease-in-out;
}
