.features {
  margin-bottom: 60px;

  @media (min-width: $screen-md) {
    margin-bottom: 45px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 95px;
  }

  $block-name:                &; // #{$block-name}__element

  &__row {

  }

  &__col {
    @include col(xs, 12);
    @include col(md, 4);

    &:last-child > * {
      margin-bottom: 0;
    }
  }

  &__item {
    margin-bottom: 40px;
    text-align: center;
  }

  &__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 700;

    &:after {
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      display: block;
      width: calc(100% / 11);
      height: 3px;
      background-color: $accent-blue-color;

      @media (min-width: $screen-md) {
        bottom: -25px;
        width: calc(100% / 2);
      }

      @media (min-width: $screen-xl) {
        bottom: -30px;
      }
    }

    @media (min-width: $screen-md) {
      min-height: 81px;
      margin-bottom: 50px;
    }

    @media (min-width: $screen-xl) {
      min-height: 40px;
      margin-bottom: 60px;
    }
  }

  &__descr {
    margin-bottom: 0;
  }
}
